<h4> 
   <%= link_to 'Quick Search',"/admin_data/list?klass=#{@klass.name}"  %>    
   | 
   <%= link_to 'Advance Search',"/admin_data/advance_search?klass=#{@klass.name}"  %> 
   
   | 
   <%= link_to 'Table Structure',"/admin_data/table_structure?klass=#{@klass.name}"  %> 
   
   <% if @controller.send(:admin_data_is_allowed_to_update?) %> 
     |
     <%= link_to '+ Add Record',"/admin_data/new?klass=#{@klass.name}"  %> 
   <% end %>
</h4>
