<div id="main">
  <div class="block" id="block-tables">

    <div class="content rounded">          
      <h2 class="title">Diagnostic test</h2>
      <div class="inner">
        <h2>
          <%= link_to 'Find missing database index', admin_data_diagnostic_missing_index_url %>
        </h2>
        <h2>
          <%= link_to 'Validate Models', admin_data_validate_url %>
        </h2> 
      </div>
    </div>

  </div>
</div>
