<div id="main">
  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <div class="clear"></div>
    </div>          
    <div class="content">          
      <h2 class="title">Diagnostic test</h2>
      <div class="inner bigger_120">
        <%= link_to 'Find missing database index', admin_data_diagnostic_missing_index_url %>
        <p>It is recommended that all foreign keys be indexed.</p>  
        <p>
          Given below is the migration code that should be performed to create index.  
        </p>
        <table>
          <% @indexes.each do |table, columns|
               columns.map do |column| 
          %>
                 <tr>
                   <td>
                     add_index '<%=table%>','<%=column%>'
                   </td>
                 </tr>
              <% end %>
          <% end %>
        </table>  
      </div>
    </div>
  </div>
</div>
