<div id="main">
  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <div class="clear"></div>
    </div>          
    <div class="content">          
      <h2 class="title">Diagnostic test</h2>
      <div class="inner" style='font-size:120%;'>
        <%= link_to 'Find missing database index', admin_data_diagnostic_missing_index_url %>
        <p>It is recommended that all foreign keys be indexed.</p>  
        <p>
          Given below is the list of table and the foreign keys which do not have any index.
        </p>
        <% @indexes.each do |table, columns| 
            columns.map do |column| %>
              Table: <%= table %>
              Column: <%= column %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
