<div id="main">
  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <div class="clear"></div>
    </div>          
    <div class="content">          
      <h2 class="title">Validate model</h2>

      <%= check_box_tag 'validate_model_select_all' %>
      <%= label_tag 'validate_model_select_all', nil, :id => 'validate_model_select_all' %>

      <% $admin_data_klasses.each do |klass| %>
         <p>
         <%= check_box_tag klass.name, '1', false, :name => klass.name.downcase.underscore %>
         <%= label_tag klass.name, nil, :id => klass.name.downcase.underscore %>
         </p>
      <% end %>   


    </div>
  </div>
</div>
