<div class='breadcrum rounded'>
  <%= link_to 'Home',admin_data_index_path %>
  >
  <%= data %>
  <% if params[:klass] && !(params[:action] == 'show') %>
    <span class='description'>
      (<%= pluralize(@klass.count, 'record') %> ) 
    </span>  
  <% end %>  
</div>
