<select class='drop_down_value_klass' id='drop_down_klasses'> 
  <option></option>
  <%= options_for_select(drop_down_for_klasses, @drop_down_url) %> 
  <option value="<%=admin_data_migration_information_path%>">Migration Information</option>
</select>
