<select class='drop_down_value_klass'> 
   <option></option>

   <% k = params[:klass] || '' 
      url = "http://#{request.host_with_port}/admin_data/quick_search/#{CGI.escape(k)}" %>

   <%= options_for_select(drop_down_for_klasses, url) %> 
</select>
