<% if model && model.errors.any? %>
  <div class='flash rounded'>
    <div class='message error'>
      <% model.errors.full_messages.each do |message| %>
        <p><%=message%></p>
      <% end %>  
    </div>
  </div>
<% end %>  

<% if flash[:success] %>
  <div class='flash rounded'><div class='message warning'><p><%= flash[:success] %></p></div></div>
<% end %>  
