<div id="header">
  <h1> &nbsp; </h1>

  <ul id='subnav'>
    <li>
      <% label = "Back to Site " + image_tag('site.png', :width => '12') %>
      <%= link_to label.html_safe, '/' %>
    </li>
    <li>
      <%= link_to 'admin_data' , '/admin_data' %>
    </li>
  </ul>

  <div id='model_drop_down'>
    <%= render '/admin_data/shared/drop_down_klasses', :drop_down_for_klasses => drop_down_for_klasses %>
  </div>

  <div class='clear'></div>

</div>
