<div id="header">
    <h1> &nbsp;
    </h1>  

    <ul id='subnav'>
      <li> <%= link_to 'Back to Site', '/' %> </li>
      <li> <%= link_to AdminData::Config.setting[:app_name] , admin_data_index_path %> </li>
    </ul>

    <div id='model_drop_down'>
      <%= render '/admin_data/shared/drop_down_klasses', :drop_down_for_klasses => drop_down_for_klasses %>
    </div>

    <div class='clear'></div>

</div>
