<div id="footer">
  <p> Powered by <%= link_to 'admin_data', 'http://github.com/neerajdotname/admin_data', :class => 'powered_by' %> </p>
  <p> <%= link_to 'Report Bug', 'http://github.com/neerajdotname/admin_data/issues', :class => 'powered_by' %> </p>
  <p> <%= link_to 'Documentation', 'http://github.com/neerajdotname/admin_data/wiki', :class => 'powered_by' %> </p>
  <div class='clear'></div>
</div>
