<div id="footer">
  <p>
    Powered by 
    <a href='http://github.com/neerajdotname/admin_data/tree/master' class='powered_by'>
      admin_data
    </a>
  </p>

  <p> 
    <a href='http://github.com/neerajdotname/admin_data/issues' class='powered_by'>
      Report Bug
    </a>
  </p>

  <p> 
    <a href='http://neerajdotname.github.com/admin_data' class='powered_by'>
      Documentation 
    </a>
  </p>

  <div class='clear'></div>

</div>
