<%= form_tag('/admin_data/advance_search',:method => 'get', :id => 'advance_search_form')%>
    <input type="hidden" name="klass" value="<%=@klass.to_s%>" />       
    <input type="hidden" name="search_type" value="advance" />        
    <div id='advance_search' class='search_box'>
     <h2>Advance Search</h2>
     <input type="submit" value="Search" />
     <table id='advance_search_table' class='advtable'>
     </table>
     <input type="submit" value="Search" />
   </div>
</form>   

<div style='display:none;' id='ram_table_structure_data'>
  <% 
    collection_of_colums = @klass.columns.collect{|column| "#{column.name}:'#{column.type.to_s}'" }  
    collection_of_colums = collection_of_colums.join(',')
    collection_of_colums = "[{#{collection_of_colums}}]"
  %>
  <%=collection_of_colums%>
</div>
