<%= form_tag(admin_data_advance_search_path(:klass=>klass),   
             :method => 'get', 
             :class => 'form search_form', 
             :id => 'advance_search_form') %>

    <div id='advance_search' class='search_box'>
     <table id='advance_search_table' class='advtable'>
     </table>
     <%= render :partial => 'admin_data/search/search/sortby', :locals => {:klass => klass} %>
     <input type="submit" value="Search"/>
   </div>

</form>   

<div style='display:none;' id='ram_table_structure_data'>
  <% 
    collection_of_colums = klass.columns.collect { |column| "#{column.name}:'#{column.type.to_s}'" }  
    collection_of_colums = collection_of_colums.join(',')
    collection_of_colums = "[{#{collection_of_colums}}]"
  %>
  <%=collection_of_colums%>
</div>
