<%= form_tag(admin_data_advance_search_path(:klass=>klass),   
             :method => 'get', 
             :class => 'form search_form', 
             :id => 'advance_search_form') %>

    <div id='advance_search' class='search_box'>
     <table id='advance_search_table' class='advtable'>
     </table>

      <div class='sortby_umbrella'>
        <input type="submit" value="Search" class='submit_search' />
        <div class='group'>     
          <div class='sortby_text'>sort by</div>
          <select name='sortby' id='sortby'>
            <%= AdminData::Util.build_sort_options(klass,params[:sortby]) %>
          </select>
        </div> 
        <div class='clear'></div>
      </div> 
   </div>

</form>   

<div style='display:none;' id='admin_data_table_structure_data'>
  <%=@collection_of_colums%>
</div>

<style>
   .sortby_umbrella { 
      margin-top: 6px;
   }
   .submit_search {
      margin-left: 15px;
      margin-right: 20px;
   }
   .sortby_umbrella .group {
      float: left;
   }
   .sortby_text { 
      float: left;
      margin-right: 5px;
   }
   #sortby { 
      width: 200px; 
      float: left;
   }
</style>

