<%= form_tag(admin_data_search_path(:klass=>klass),  :method => 'get',
              :class => 'form search_form', 
              :id => 'search') %>   

  <div class='search_box'>
    <div id='quick_search'>
        <label class='label' style='float:left;;padding-right:10px;'>search keyword</label>
        <input type="text" id="quick_search_input" name="query" value="<%=params[:query]%>" style='float:left;'/>
        <%= render :partial => 'admin_data/search/search/sortby', :locals => {:klass => klass} %>
        <div class='clear'></div>
        <%= submit_tag 'Search', :name => nil, :disable_with => 'searching ...', :style => 'float:left;' %>
   </div>
 </div>
</form>
<br />
