<label class='label sortby_label'>sort by</label>
<select name='sortby' id='sortby'>
   <%= AdminData::Util.build_sort_options(klass,params[:sortby]) %>
</select>

<style>
   .sortby_label { 
      float: left;
      vertical-align: bottom; 
      margin-left: 40px;
      width: 70px;
   }
   #sortyby {
      width: 200px;
      float: left;
   }
</style>   

