  <label class='label' style='float:left;vertical-align:bottom; padding-right:7px;margin-left:40px;'>sort by</label>
  <select name='sortby' id='sortby' style='width:200px; float:left;'>
    <%= AdminData::Util.build_sort_options(klass,params[:sortby]) %>
  </select>
