<div>
  <h2 class='title' id='search_result_title'> 
    <%=search_result_title(total_num_of_children, records)%>
  </h2>

  <% if admin_data_is_allowed_to_update? && params[:action] == 'advance_search' %>
    <div class='delete_destroy_box'>
      <span style=''>
        <%= link_to 'Delete All', '#', :id => 'advance_search_delete_all' %>
      </span>
      |
      <span> 
        <%= link_to 'Destroy All', '#', :id => 'advance_search_destroy_all' %>
      </span>
    </div>
  <% end %>

  <div class='clear'></div>

</div>

<style>
  #search_result_title {
    float: left;
    margin-top: 5px; 
    padding-top: 5px; 
   }
  .delete_destroy_box { 
    float: left;
    margin-top: 6px;
    padding-top: 6px;
    margin-left: 20px;
  }
</style>   
