*.log
tmp/*
.DS_Store
*.swp
*.db
response.html
tags
pkg
.rvmrc
admindatademo/

test/rails_root/tmp/**/*
test/rails_root/log/*.*
test/rails_root/vendor/**/*.*
test/rails_root/db/*.sqlite3
test/rails_root/.rvmrc
test/rails_root/.bundle
test/rails_root/.bundle/*
test/rails_root/config/database.yml
