<!DOCTYPE html>
<html>
<head>
  <title>AdminData</title>
  <%= stylesheet_link_tag    "admin_data/application", :media => "all" %>
  <%= javascript_include_tag "admin_data/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
