<% @columns.each do |col| %>
  <div class='col_box'>
    <span class='col_name'><%= col.name %></span>
    <span class='col_type'>[<%= col.type.to_s %>]</span>
  </div>
  <%= admin_data_form_field(klass, @model, col, f) %>
<% end %>

<div class='group navform' style='padding-top:10px;'>
  <%= f.submit('Save', :class => 'button', :disable_with => 'Please wait ...') %>
</div>

<style>
  .col_name { 
    color: #222;
    font-size: 15px;
  }
  .col_type {
    color: dimgray;
  }
  .col_box { 
    margin-top: 20px;
    padding-bottom: 4px;
  }
</style>   
