<div id="footer">
  <p style='float:left;font-size:11px;padding:2px 10px 2px 2px;'>
    Powered by 
    <a href='http://github.com/neerajdotname/admin_data/tree/master' class='powered_by'>
      admin_data
    </a>
  </p>

  <p style='float:left;font-size:11px;padding:2px 10px 2px 2px;'> 
    <a href='http://github.com/neerajdotname/admin_data/issues' class='powered_by'>
      Report Bug
    </a>
  </p>
  <div class='clear'></div>
</div>
