<div id="footer">
  <div class="block" >
    <p style='font-size:90%;'>Powered by <a href='http://github.com/neerajdotname/admin_data/tree/master' class='powered_by'>admin_data</a></p>
  </div>      
</div>
