<div id="main">
  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <div class="clear"></div>
    </div>          
    <div class="content">          
      <h2 class="title">Migration Information from schema_migrations table</h2>
      <div class="inner">
          <table class="table colorize">
            <tr>             
              <th class='first last'>version</th>
            </tr>
            <% @data.each do |record| %>
              <tr><td><%=record.values.first%></td></tr>
            <% end %>  
          </table>
      </div>
    </div>
  </div>
</div>
