<!DOCTYPE html>
<html id="html">
  <head>
	  <title>admin_data JavaScript test</title>
    <%= AdminData::Util.stylesheet_link_tag('vendor/qunit') %> 
    <%= AdminData::Util.javascript_include_tag( 'vendor/jquery-1.4.1', 
                                                'vendor/jquery-ui-1.7.2.custom.min',
                                                'vendor/log', 
                                                'vendor/jquery.form', 
                                                'vendor/jquery.ba-isjquery', 
                                                'vendor/jack', 
                                                'validate_model/select_all', 
                                                'validate_model/ajaxify_form', 
                                                'misc/drop_down_change',
                                                'misc/quick_search_input_focus',
                                                'misc/js_util',
                                                'advance_search/global_ajax_setting', 
                                                'advance_search/advance_search', 
                                                'advance_search/advance_search_structure', 
                                                'advance_search/ajaxify_advance_search',
                                                'advance_search/act_on_result',
                                                'advance_search/build_first_row',
                                                'advance_search/event_bindings',
                                                'advance_search/trigger_submit_on_domready',
                                                'vendor/qunit',
                                                'test/ajaxify_advance_search',
                                                'test/act_on_result',
                                                'test/build_first_row',
                                                'test/event_bindings',
                                                'test/advance_search'
                                                ) %>
  </head>

  <body id="body">

    <h1 id="qunit-header">admin_data JavaScript test</h1>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests">
    </ol>

    <div id='advance_search' class='search_box' style='display:none;'>
      <table id='advance_search_table' class='advtable'>
      </table>
    </div>

    <div style='display:none;' id='admin_data_table_structure_data'>
      [{id:'integer',first_name:'string',last_name:'string',age:'integer',active:'booleant',description:'text',society_type:'string',society_id:'integer',created_at:'datetime',updated_at:'datetime',birth_date:'datetime'}]
    </div>
    
  </body>

</html>
