<% if AdminData::ActiveRecordUtil.new(klass).declared_habtm_association_names.any? %>
  <p>
    <strong>has_and_belongs_to_many :</strong>
    <%= habtm_data(model, klass).html_safe %>
    &nbsp;
  </p>
<% end %>
