<div id="main">
  <div class="block" id="block-tables">
    
    <div class="content rounded" style='padding:15px;'>          
      <h2 style='margin-left:0;'>Select a model</h2>
      <p style='color:dimgray;font-size:15px;'>
        Note that this drop down is also available at top right corner of every page .
      </p>
        <%= render '/admin_data/main/misc/drop_down_klasses', :drop_down_for_klasses => @drop_down_for_klasses %>
      <div class="clear"></div>
    </div>

  
  </div>
</div>
