<div id="main">
  <div class="block" id="block-tables">
    <div class="secondary-navigation">
      <div class="clear"></div>
    </div>          
    <div class="content">          
       <h2 class="title">
          Select a model from top right hand corner
       </h2>
    </div>
  </div>
</div>
