<div id="main">
  <div class="block" id="block-tables">
    <div class="content rounded select_box">          
      <h2 id='main_page_label'>Select from the drop down menu above</h2>
      <div class="clear"></div>
    </div>
  </div>
</div>

<style>
  #main_page_label {
    margin-left: 0;
  }
  .select_box {
    padding: 15px;
  }
  p.notice {
    color: dimgray;
    font-size:15px;
  }
</style>   
