<% if AdminData::Util.has_many_what(klass).size > 0 %>
  <p>
    <strong>has_many :</strong>
      <% AdminData::Util.has_many_what(klass).each do |hm| 
          label = hm + '(' + AdminData::Util.has_many_count(model,hm).to_s + ')'
      %>
      <% if AdminData::Util.has_many_count(model,hm) > 0 %>
        <%= link_to label, admin_data_search_path(:klass => AdminData::Util.get_class_name_for_has_many_association(model,hm).name.underscore, 
                                                  :children => hm,
                                                  :base => klass.name.underscore, 
                                                  :model_id => model.id) %>        
      <% else %>
        <%= label %>      
      <% end %>  
      &nbsp;
    <% end %>  
  </p> 
<% end %>  
